[submodule "src/lio_sam"]
	path = src/lio_sam
	url = git@github.com:dotX-Automation/lio_sam.git
[submodule "src/dua_robot_localization"]
	path = src/dua_robot_localization
	url = git@github.com:dotX-Automation/dua_robot_localization.git
[submodule "src/spark_fast_lio"]
	path = src/spark_fast_lio
	url = https://github.com/MIT-SPARK/spark-fast-lio.git
[submodule "src/FAST_LIO"]
	path = src/FAST_LIO
	url = git@github.com:ErLex20/FAST_LIO.git
[submodule "src/faster-lio"]
	path = src/faster-lio
	url = git@github.com:ErLex20/faster-lio.git
[submodule "src/VoxelMap"]
	path = src/VoxelMap
	url = git@github.com:ErLex20/VoxelMap.git
[submodule "src/glim_ros2"]
	path = src/glim_ros2
	url = git@github.com:koide3/glim_ros2.git
[submodule "src/gtsam_points"]
	path = src/gtsam_points
	url = https://github.com/koide3/gtsam_points.git
[submodule "src/glim"]
	path = src/glim
	url = https://github.com/koide3/glim.git
[submodule "src/monocular_depth"]
	path = src/monocular_depth
	url = git@github.com:dotX-Automation/monocular_depth.git
