<?xml version="1.0"?>
<robot name="hilti_trailblazer_minimal">

  <link name="base_link"/>

  <link name="xsens_imu_link"/>

  <joint name="xsens_imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="xsens_imu_link"/>
    <origin
      xyz="0.65 0.0 0.647"
      rpy="0.0 1.5707963267948966 0.0"/>
  </joint>

  <link name="rslidar"/>

  <joint name="rslidar_joint" type="fixed">
    <parent link="xsens_imu_link"/>
    <child link="rslidar"/>
    <origin
      xyz="0.13372435098296154 -0.011301799498041736 0.010893033077978013"
      rpy="3.1330375472345637 -0.03502513872030596 -0.003399364361300018"/>
  </joint>

</robot>